<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InstagramFirebase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7943DEBF1FEAFBE70093A783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7943DED61FEAFBE70093A783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7943DEE11FEAFBE70093A783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
